*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.clearfix::before,
.clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear:both;
}
body
{
    font-family: 'Mulish', sans-serif; 
    font-size:100%;
    line-height: 1.5em;
}

/* Header section*/

.blue-button
{
    padding: .75em 1.5em .75em 1.5em ;
    background-color: rgb(84, 84, 236);
    border-radius:2em;
    text-decoration: none;
    color:white;
    position: relative;
    top: 0;
    transition: top 0.5s;
    
}
.blue-button:hover
{
    background-color: rgb(14, 14, 46);
    top: -5px;
    
}
header
{
    width: 100%;
    padding-top: 30px;
    height: 100px;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.head-wrap
{
    width:fit-content;
    margin:0 auto;
    display: flex;
    align-items: center;
    max-height: 100px;
    
}

.header-logo a
{
    font-size: 1.7em;
    text-decoration: none;
    color:black;
}
.blue-head-line
{
    height: .23em;
    width:2.45em;
    background-color: rgb(84, 84, 236);
    margin-left: 0.7em;
}
.header-primary-navs
{
    font-size: 1.2em;
    margin: 0 4em ;
}
.header-primary-navs ul
{
    
    min-width: 30em;
    display:flex;
    list-style: none;
    
}
.header-primary-navs ul li
{
    display: flex;
    margin-left: 2em;
}
.header-primary-navs ul li:hover
{
    border-bottom: solid;
}



.header-primary-navs ul li a
{
    text-decoration: none ;
    color:black;
    
}
.test1
{
    transition: transform .3s;
}
.header-primary-navs ul li:hover .test1
{
    transform: rotate(180deg);
}
.header-secondary-navs
{
    
    display:flex ;
    font-size: 1.2em ;
    min-width:275px;
    justify-content: flex-end;
}
.header-secondary-navs p
{
    margin: 0 1em 0 1em;
}
.header-second-login
{
    text-decoration: none;
    color:rgb(84, 84, 236);
}
.header-second-login:hover
{
    color:rgb(6, 6, 11);
}
.h-b-menu
{
    margin-left: 2em;
    display: none;
    position: relative;
    top:0;
    transition: top .5s ;
}
.h-b-menu:hover
{
    top:-3px;
    cursor: pointer;
    background-color: rgb(25, 23, 23);
    color:white;
}
.wrap-2
{
    display:flex; 
}

/* section - 1 */
.section-1
{
    background-image: url("./images/meeting-room.avif");
    width: 100%;
    height: 710px;
    background-position: center;
    background-size:  cover;
    
}
.section-1-mask
{
    background-color: rgba(0, 0, 0, 0.394);
    height: inherit;
    align-items: center;
}
.section-1-content-wrapper
{
    display: flex;
    flex-direction: column;
    
}
.content-sect-1
{
    text-align: center;
    margin-bottom: 10px;
    margin-top:14em;
    
}
.content-sect-1 h1
{
    font-size: 4em;
    min-width: 12em ;
    color: white;
    padding-bottom: 50px;
    
}
.content-sect-1 h1 span
{
    text-decoration: underline rgb(63, 63, 196);
    line-height: 80px;
}
.content-sect-1 p
{
    font-family: Times;
    font-size: 1.7em;
    color:white;
    line-height: 50px;
    min-width: 841px;
}

.content-sect-1 p span
{
    text-decoration: underline;
    
}
.switch-wrapper
{
    display: flex;
    background-color: white;
    width: 470px;
    min-width: 470px;
    padding: 1.5em 0em 1em 1em ;
    margin: 0 auto;
    border-radius: 50px;
}
.switch-wrapper-cnt-1  
{
    display: flex;
}

.switch-wrapper-cnt-2
{
    display: flex;
}
.sect-1-box-links
{
   
    text-decoration: none;
    color:rgb(60, 60, 185);
    margin-left:1em;
    
}
.blue-button-sect-1
{
    margin-left: 1em;
    text-decoration: none;
    margin-top: -.8em;
    padding:.75em;
    border-radius: 50px;
    color:rgb(239, 239, 245) ;
}
/* section 2 */
.section-2 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 236);
}
.section-2-wrapper
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em;
    text-align: center;
}

.section-2-wrapper h3
{
    margin-bottom: 1.5em ;
    font-size: 17px ;
    color:rgb(78, 78, 185);
}
.sect-2-images
{
    display: flex;
}
.sect-2-images img
{
    margin-right: 3.5rem;
}
.sect-2-images img:last-child
{
    margin-right: 0em;
}
.sect-2-img1
{
    width:330px;
    height: 177.39px;
}
.sect-2-img2
{
    width: 240.72px;
    height: 199.98px;
}
.sect-2-img3
{
    width:313.84px;
    height:199.98;
}
.sect-2-title
{
    font-size: 2em;
    width:26em;
    line-height: 2em;
    margin: 1em;

}
.sect-2-content
{
    font-size: 1.12em;
    width: 46em;
    word-spacing: .2em;
}
/* General styles for sections */
.section-general
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect-wrapper
{
    display:flex;
    margin-top: 5em;
    min-width: 750px;
}
.section-content 
{
    margin-left: 10em;
    text-align: center;
}
.section-super-title h3
{
    font-size: 1.1em;
    color:rgb(53, 53, 183);
    margin: 2em 0;
}
.sect-title 
{
    width: 20em;
    font-size:1.5em;
    line-height: normal;
}
.section-paragraph 
{
    width: 30em;
    padding: 1.5em 0 1.5em 0
}
.section-bottom-links a:hover
{
    text-decoration: none;
    color:black;
}
/* section 3 */

.sect3-image img
{
    width:500px;
    height: 420px;
}
/* section 4*/
.section-4
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-wrapper
{
   
    display: flex;
    width: fit-content;
    margin-top: 5em;
    
    
}
.sect-4-content 
{
    margin-left: 0;
    margin-right: 10em ;
    text-align: center;
    width: 30em;
}
.sect4-image img
{
    width:480.48px;
    height: 365.22px;
}
.sect-4-super-title
{
    margin: 1.5em 0;
    font-size: 1.1em;
    color:rgb(70, 70, 174);
}
.sect-4-title 
{
    margin-bottom: 1.5em ;
    font-size: 1.5em;
    line-height: normal;
}
.sect-4-p 
{
    margin-bottom: 1.5em;
}
/* section 5*/
.sect5-image img
{
    width: 437.44px;
    height: 387.39px;
}

/* section - six */
.section-6
{
    background-color: rgb(215, 215, 110);
    margin-top: 7em;
    padding: 10em 0;
}
.sect-6-wrapper
{
    margin: 0 10em;
}
.sect-6-top-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:60px;
}
.sect-6-t-c-title
{
    font-size: 3em;
    line-height: 1.5em;
}
.sect-6-t-c-description
{
    font-size:1.7em;
    line-height: 1.2em;
}
.sect-6-bottom-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.sect-6-b-s-container
{
    margin-right: 2em; 
}
.percent-title
{
    font-size: 4.4em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(65, 65, 192);
    margin: 1.2em 0;
}
.percent-title span
{
    font-size: .7em;
    display: inline-block;
    vertical-align:top;
}
.sect-6-b-s-c-para
{
    font-size: 1.2em;
    word-spacing: .1em;
    line-height: 1.4em;
}
.sect-6-b-s-c-nav a
{
    text-decoration: none;
    color:rgb(60, 60, 193);
}

/* footer */

footer
{
    background-color: rgb(5, 5, 40);
}
.footer-title-bar
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10em;
    
}
.footer-logo-wrapper
{
    margin: 5em 0 0 10%;
    display: flex;
}
.footer-logo a
{
    color:white;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: .02em;
}
.logo-line
{
    margin-bottom: .1em;
    width: 3em;
    margin-left: .8em;
}
.footer-caption
{
    color:rgb(94, 102, 249);
    margin: .4em 0 0 1em;
    min-width:23em;
}
.footer-social-media
{
    display: grid;
    grid-template-columns: repeat(4, 3em);
    justify-content: end;
    margin: 5.5em 10% 0 0;
}
.footer-social-media div:hover
{
    cursor: pointer;
}
.svg-twitter
{
    width:1.4em;
}
.footer-location-link-list
{
    margin-left:7%;
    padding-bottom: 5em;
}
.footer-location-link-list h3
{
    color: rgb(94, 102, 249);
    margin-bottom: 1em;
}
.footer-location-link-list ul
{
    display: block ;
    column-count: 6;
    list-style: none;
}
.footer-location-link-list ul li a
{
    text-decoration: none;
    color: white;
    line-height: 2em;
}
/* footer detailed links */

.footer-detailed-links
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0 0 3% 7%;
}
.footer-detailed-links h3
{
    color:rgb(94, 102, 249);
    margin-bottom: .5em;
}
.links ul
{
    display: block;
    column-count: 2;
}
.links ul a
{
    text-decoration: none;
    color:white;
    line-height: 2em;
}
.blogs ul li a
{
    color:white;
    text-decoration: none;
    line-height: 2em;
}
.blog-link
{
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* footer meta section */
.footer-meta
{
    color:rgba(255, 255, 255, 0.629);
    margin: 0 0 3em 7%;
}
@media screen and (max-width:1183px) 
{
    header 
    {
        padding-top: 0px;
    }
    .header-primary-navs{
        display: none;
    }
    .h-b-menu
    {
        display: flex;
    }
    .header-logo
    {
       margin-right:200px ;
    }
    .head-wrap
    {
        margin-top: 2.5em;
    }
    .sect-2-images
    {
        display: block;
        
    }
    .sect-2-images img 
    {
        margin-left: 2.8em;
    }
    .sect-2-title
    {
        font-size: 1.3em;
        width:33em;
    }
    .sect-2-content
    {
        font-size: 1em ;
        word-spacing: normal;
    }
    .sect3-image img 
    {
        width: 422.31px;
        height: 353.38px;
    }
    .section-content
    {
        margin-left: 3em;
        
    }
    .sect-title
    {
        font-size: 1.2em;
    }
    .section-super-title h3
    {
        font-size: 1em;
        margin: 1.5em 0;
    }
    .section-paragraph 
    {
        width: 19em;
        margin-left: 3em;
        
    }
    .sect-4-content 
    {
        margin-right: 3em ;
        width: 18em;
    }
    .sect-4-title
    {
        font-size:1.2em;
    }
   
    .sect4-image img
    {
        width: 376.96px;
        height: 286.54px;
    }
    .sect-5-image img 
    {
        width:407.85px;
        height:361.18px;
    }
    .sect-6-bottom-container
    {
        grid-template-columns: 1fr 1fr;
    }
    .sect-6-t-c-title
    {
        font-size: 2.5em;
    }
    .sect-6-t-c-description
    {
        font-size: 1.5em;
    }
}
@media screen and (max-width:970px) 
{
    .footer-logo-wrapper
    {
        display: block;
    }
    .footer-caption
    {
        margin: 1em 0;
    }
    .footer-location-link-list
    {
        margin-top: 2em;
    }
    .links ul 
    {
        column-count:1;
    }
}

@media screen and (max-width:845px)
{
    .content-sect-1 h1
    {
        min-width: fit-content;
        line-height: 45px ;
    }

   .content-sect-1 p
   {
        min-width:fit-content ;
   }
   .content-sect-1
   {
        margin-top: 10em;
   }
  
   .section-content 
    {
        margin-left: 0em;
    }
   .sect3-image img 
   {
        width:300px;
        height:230px;
   }
   .sect4-image img 
   {
        width:280px;
        height:160px;
        margin-top: 5em;
   }
   .sect5-image img
   {
        width: 300px;
        height: 250px;
   }
   .sect-6-top-container
   {
        grid-template-columns: 1fr;
        grid-row-gap:1.5em ;
   }
   .footer-location-link-list ul 
   {
        column-count: 4;
   }
}
@media screen and (max-width:751px)
{
    .sect-2-images
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sect-2-images img 
    {
        margin-top: 1.5em;
        margin-left: 0em;
    }
    .sect-2-title
    {
        font-size: 1em;
        width:26em;
    }
    .sect-2-content
    {
        font-size: 1em;
        width:26em;
    }
    .section-2-wrapper
    {
        margin: 0;
    }
    .sect-wrapper
    {
        flex-direction: column;
        align-items: center;
        min-width: fit-content;
        
    }
    .section-4
    {
        display: flex;
        min-width: fit-content;
        margin-left:3em ;
    }
    .section-4-wrapper
    {
        flex-direction: column-reverse;
        
    }
    .sect4-image img
    {
        margin-top: 0;
    }
    .sect-6-bottom-container
    {
        grid-template-columns: 1fr;
    }
    .sect-6-wrapper
    {
        margin: 0 5em;
    }
    .footer-location-link-list ul 
   {
        column-count: 2;
   }
    
    .footer-detailed-links
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs
    {
        margin-top: 2em;
    }
    .footer-title-bar
    {
        display: block;
    }
    .footer-social-media
    {
        justify-content: start;
        margin: 10%;
    }
}
@media screen and (max-width:658px)
{
    .wrap-2
    {
        display:none;
    }
}

@media screen and (max-width:474px)
{
    .switch-wrapper
    {
        display:flex;
        flex-direction: column;
        width:fit-content;
        min-width: 230px;
        align-items: center;
    }
    .blue-button-sect-1
    {
        margin-top:.3em;
        margin-left: 0px;
    }
    .sect-2-title
    {
        width: 21em;
    }
    .sect-2-content
    {
        width: 20em;
    }
    
    .footer-caption
    {
        font-size: .75em;
    }
}

@media screen and (max-width:385px) 
{
    .header-logo 
    {
        margin-right: 25px;
    }
    .content-sect-1 h1
    {
        font-size: 3em;
        line-height: 12px;
    }
    .content-sect-1 p 
    {
        line-height: 30px;
        font-size:22px;
    }
    .sect-2-images img 
    {
        margin: 0em;
    }
    .sect-2-img1
    {
        width:275.39px;
        height: 156.09px;
    }
    .sect-2-img2
    {
        width:240.72px;
        height: 199.98px;
    }
    .sect-2-img3
    {
        width: 275.39px;
        height: 185.05px ;
    }
    .sect-2-title
    {
        width:18em;
        margin: 1em 0em;
        
    }
    .sect-2-content
    {
        width: 17em;
        margin-bottom: 1em;
    }
    .sect-wrapper
    {
        width:fit-content;
    }
    .sect-title
    {
        width:fit-content;
    }
    .section-4
    {
        margin-left: 0em;
    }
    .sect-4-content
    {
        margin-right: 0em;
    }
    .percent-title
    {
        font-size: 3.5em ;
    }
}
@media screen and (max-width:340px) 
{
    
    .sect3-image img 
    {
        width: 216.62px;
        height: 181.26px ;
    }
    .sect4-image img 
    {
        width:216.62px;
        height: 164.65px ;
    }
    .sect5-image img
    {
        width: 216.62px;
        height: 191.82px;
    }
    .section-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sect-title
    {
        font-size: 1.2em ;
        width: 13em;
    }
    .section-paragraph
    {
        width:14em;
        margin-left: 0;
        padding:1em 0 1em 0;
    }
    .section-bottom-links
    {
        width: 17em;
    }
    .section-4-wrapper
    {
        align-items: center;
    }
    .sect-4-content
    {
        width:270px;
    }
    
    .sect-4-super-title
    {
        font-size: .9em;
    }
    .percent-title
    {
        font-size: 2.9em;
    }
    .sect-6-t-c-title
    {
        font-size: 2em;
    }
    .sect-6-t-c-description
    {
        font-size: 1.2em;
    }
    .sect-6-wrapper
    {
        margin: 0 1.5em ;
    }
    .section-6
    {
        padding: 5em 0;
        margin-top: 5em;
    }
    .footer-caption
    {
        font-size: .65em;
    }
}